cloud_id                 = "b1g730q1t94lbv6lagff"
folder_id                = "b1g0m7gthn4g87f5103c"
zone                     = "ru-central1-b"
yandex_zone              = "ru-central1-b"
image_id                 = "fd87sic59c2o3hc9rup8"
public_key_path          = "~/.ssh/ash.pub"
subnet_id                = "e2ltqrm5fsvq2pbcnusq"
service_account_key_file = "/Users/ash/Dropbox/Documents/OTUS_DEVOPS/key2.json"
private_key_path         = "~/.ssh/ash"
