{
    "folder_id": "b1g0m7gthn4g87f5103c",
    "source_image_id": "fd869u2laf181s38k2cr",
    "service_account_key_file": "/Users/ash/Dropbox/Documents/OTUS_DEVOPS/key.json",
    "instance_cores": "2",
    "disk_size": "10"
}
